<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>TERMOS DE USO E CONDIÇÕES PARA AQUISIÇÃO DE SITE VIRTUAL COM SISTEMA DE AGENDAMENTO</p>
  <br />
  <strong>Introdução</strong> 
  <p>Ao adquirir um site virtual com sistema de agendamento ("https://store-showcase-1.robsonfeitosa.dev.br/"), você concorda com os seguintes termos e condições. Certifique-se de ler atentamente antes de utilizar o Site. Se você não concordar com qualquer disposição destes termos, não prossiga com a utilização do Site.</p>
  <br />
  <strong>Licença de Uso</strong> 
  <p>Ao adquirir o Site, concedemos a você uma licença não exclusiva e intransferível para utilizar o Site de acordo com os termos estabelecidos neste documento.</p>
  <br />
  <strong>Propriedade Intelectual</strong> 
  <p>Todos os direitos de propriedade intelectual relacionados ao Site, incluindo, mas não se limitando a, direitos autorais, marcas registradas e segredos comerciais, são de nossa propriedade ou licenciados para nós. Você concorda em não copiar, reproduzir, modificar, distribuir ou utilizar de qualquer forma o conteúdo do Site sem nossa permissão expressa por escrito.</p>
  <br />
  <strong>Agendamento e Reservas</strong> 
  <p>O sistema de agendamento do Site permite que você reserve serviços, eventos ou atividades oferecidos por nós ou terceiros. Ao utilizar esta funcionalidade, você concorda em fornecer informações precisas e verdadeiras. Reservamo-nos o direito de cancelar ou modificar reservas a nosso critério.</p>
  <br />
  <strong>Responsabilidades do Usuário</strong> 
  <p>Você é responsável por manter a confidencialidade de qualquer senha fornecida para acessar o Site. Além disso, você concorda em utilizar o Site de forma ética e legal, evitando a realização de atividades prejudiciais ou ilegais.</p>
  <br />
  <strong>Pagamentos e Taxas</strong> 
  <p>Caso o Site inclua funcionalidades de pagamento, você concorda em pagar todas as taxas associadas a esses serviços de acordo com as políticas de pagamento estabelecidas. Reservamo-nos o direito de modificar as taxas a qualquer momento, mediante aviso prévio.</p>
  <br />
  <strong>Garantias e Limitações de Responsabilidade</strong> 
  <p>O Site é fornecido "como está", sem garantias de qualquer tipo. Não garantimos que o Site atenderá às suas necessidades ou que será ininterrupto, oportuno, seguro ou isento de erros. Em nenhuma circunstância seremos responsáveis por quaisquer danos diretos, indiretos, incidentais, especiais, consequentes ou punitivos decorrentes do uso ou impossibilidade de uso do Site.</p>
  <br />
  <strong>Modificações nos Termos</strong> 
  <p>Reservamo-nos o direito de modificar estes termos a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação no Site. Recomendamos que você revise regularmente os termos de uso.</p>
  <br />
  <strong>Rescisão</strong> 
  <p>Podemos rescindir sua licença de uso do Site a qualquer momento, se considerarmos que você violou estes termos. Após a rescisão, você deve cessar imediatamente o uso do Site.</p>
  <br />
  <strong>Lei Aplicável e Jurisdição</strong> 
  <p>Estes termos são regidos pelas leis do Curitiba/PR, e qualquer disputa decorrente destes termos será submetida à jurisdição exclusiva dos tribunais competentes da mesma.</p> 
  <p>Ao continuar a utilizar o Site, você concorda com estes termos e condições. Se tiver alguma dúvida ou preocupação, entre em contato conosco através dos canais de suporte fornecidos no Site.</p>
  <br /> 
  <br /> 
  <br /> 
  <i>Ass:</i>
  <p>Robson Feitosa Pimentel</p>
  <strong>Web developer</strong>
</div>
